{% extends 'admin/base_site.html' %}
{% block content %}
<h1>Thống kê khóa học trực tuyến</h1>

<ul>
      {% for c in stats %}
      <li><strong>{{ c.name }}</strong>: {{ c.count }}</li>
      {% endfor %}
</ul>
<div>
      <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
      let labels = [];
      let values = [];

      {% for c in stats %}
      labels.push('{{ c.name }}');  // vì c.name là chuỗi, nếu để không sẽ bị lầm tưởng là biến của javascript, phải thêm ''
      values.push({{ c.count }});
      {% endfor %}

      window.onload = () => {
            const ctx = document.getElementById('myChart');

      new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labels,
            datasets: [{
            label: '# Số lượng',
            data: values,
            borderWidth: 1,
            backgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)'
    ],
            }]
      },
      options: {
            scales: {
            y: {
            beginAtZero: true
            }
            }
      }
      });
      }
</script>

{% endblock %}